@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #363636;
  background-color: #ababab0a;
}

.embed-container {
  --video--width: 1280;
  --video--height: 800;

  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-horizontal-center{
    position: absolute;
    left: 0px;
    width: 100%;
    transform: translate(0px, 50%);
    bottom: 50%;
}

.embed-below-image{
  display: none;
  width: 80%;
  height: 100%;
}

.container-fluid {
  padding: 2.5rem 2.5rem 0rem 2.5rem;
  float: left;
}
.col{
  /* max-height: 90vh; */

}

a {
  text-decoration: underline;
  color: #909090;
  font-size: 1rem;
}

a:hover {
  color: #363636;
}

.buybutton{
    /* bottom: 0px; */
    /* position: relative; */
    margin-top: 10px;
    /* position: relative;
    display: inline;
    float: left; */
}
.available {
	color: #A9A9A9;
}

.available:hover {
	color: #363636;
}

.sold:hover{
  cursor:default;
  border-color: #363636;
  background-color: #ababab0a;
  /* color: #A9A9A9; */
  /* border-color: #A9A9A9; */
}

.currentPrice {
  color: inherit;
}

.currentPrice:hover {
  color: inherit;
}

.row{
  padding-bottom: 1rem;
}

.rowpad{
  padding-bottom: 3rem;
}

.b-pad {
  padding-bottom: 1.5rem;
}

.new {
  font-style: normal;
  color: tomato;
  padding-right: .1em;
}

.title {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.album {
  font-style: italic;
  font-weight: bold;
}

.links a {
  display: inline;
  padding-right: .3rem;
}

#numbersPurchased{
  width: 98%;
}



button {
	border-color: #363636;
  height: fit-content;
  padding-left: 10px;
  /* background: #A9A9A9; */
  padding-right: 10px;
  /* background: #A9A9A9; */
  cursor:pointer;
}

button:hover {
  border-color: #b7b7b7;
  height: fit-content;
  padding-left: 10px;
  /* background: #A9A9A9; */
  padding-right: 10px;
  background: #e6e4e4;
}
.invisible{
    background-color: #ababab00
}

#image{
  background-color: #ababab00
}

img {
  width: 80%;
  height: 100%;
  /* width: 100%; */
  /* height: 100%; */
  /* margin-bottom:1.5rem; */
}

.samplesvg{
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 31.33%;
}

#connectButton{
  /* top: 10px; */
  /* position: absolute; */
  /* right: 15px; */
  /* position: relative;
  display: inline;
  float: left; */
}

#past-shows {
  display: none;
  padding-top: 1.5rem;
}

table{
  width: 100%;
}

.first {
    width: 50%;
}
.ellipsis {
    position: relative;
}
.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}
.ellipsis span {
  text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.td {
  text-align: center;
  vertical-align: baseline;
  /* padding-right: 1.5rem; */
}

.aligncenter{

  text-align: center;
}

#ownername{
  text-overflow: ellipsis;
}

.alignleft {
  width: 10%;
  text-align: left;
}


.alignright {
  width: 10%;
  text-align: right;
}

.album-writeup p {
  margin-bottom: 1.5rem;
}

.mobile-only{
  display: none;
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    float: left;
  }

  .mobile-only{
    display: block;
  }

  .b-pad {
    padding-bottom: 1rem;
  }
  td {
    padding-right: 1rem;
  }
  .venue {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
  #past-shows {
    padding-top: 1rem;
  }

  .embed-below-image{
    width: 100%;
    height: 100%;
  }


  .samplesvg{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* width: 47%; */
  }



}
